# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg
*.egg-info/
dist/
build/
# Django
*.log
*.pot
*.pyc
*.sqlite3
# Environments
.env
env/
ENV/
.venv/
# IDEs y editores
.idea/
.vscode/
.project
.pydevproject
*.sublime-project
*.sublime-workspace
# Archivos del sistema operativo
.DS_Store
Thumbs.db
.directory
# Archivos de caché
*.swp
